/*Uniform css for the whole document*/
	
	body {
		text-align: center;
		margin-top: 5px;
		background-image: url(/img/background.png);
	}

	img {
		height: 200px;
		width: 200px;
	}

/*Styling for the Timer*/

	#timer {
		font-family: Pocket Calculator OT;
		font-size: 60px;
		color: red;
		background-color: black;
		margin-left: 35%;
		margin-right: 35%;
		margin-top: 10px;
		margin-bottom: 10px;
		border: 5px double gray;
	}

/*CSS for the stats block and individual items within it*/
	
	#stats {
		margin-bottom: 10px;
		font-size: 20px;
	}

	#totalrounds {
		margin-right: 8px;
	}

	#wins {
		margin-right: 8px;
	}

	#draws {
		margin-right: 8px;
	}
    /*#losses {
        margin-right: 8px;
    }*/

/*Styling for the bot's area*/

	#bot {
		height: 200px;
		width: 200px;
		border: 5px solid black;
		margin-bottom: 2%;
		margin: auto;
        background-image: url(/img/bot.png);
        background-position: center;
	}

/*Styling for the 10 second warning. Meant to definitely catch the player's attention without interrupting the game*/

	#warning {
		height: 30px;
        font-size: 25px;
		opacity: 0;
		color: red;
        background-color: yellow;
	}

/* Styling for your area and the buttons*/

	#you {
		height: 200px;
		width: 200px;
		border: 5px solid black;
		margin: auto;
        background-image: url(/img/you.png);
        background-position: center;
	}

	#rock {
		height: 40px;
		width: 80px;
		margin-top: 10px;
		background-image: url(/img/rock.png);
		background-position: center;
		background-size: 80px 40px;
	}

	#paper {
		height: 40px;
		width: 80px;
		margin-top: 10px;
		background-image: url(/img/paper.png);
		background-position: center;
		background-size: 80px 40px;
	}

	#scissors {
		height: 40px;
		width: 80px;
		margin-top: 10px;
		background-image: url(/img/scissors.png);
		background-position: center;
		background-size: 80px 40px;
	}