body {
	text-align: center;
	margin-top: 100px;
	background-image: url(/img/background.png);
}
#bot {
	height: 100px;
	width: 100px;
	border: 5px solid black;
	margin-bottom: 2%;
	/*margin-left: 580px;*/
	margin: auto;
}
#you {
	height: 100px;
	width: 100px;
	border: 5px solid black;
	margin: auto;
	/*margin-left: 45%;*/
}
img {
	height: 100px;
	width: 100px;
}
#warning {
	height: 20px;
	opacity: 0;
	color: red;
}
#timer {
	font-family: Pocket Calculator OT;
	font-size: 60px;
	color: red;
	background-color: black;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 5px double gray;
}
#rock {
	height: 40px;
	width: 80px;
	margin-top: 10px;
	background-image: url(/img/rock.png);
	background-position: center;
	background-size: 80px 40px;
}
#paper {
	height: 40px;
	width: 80px;
	margin-top: 10px;
	background-image: url(/img/paper.png);
	background-position: center;
	background-size: 80px 40px;
}
#scissors {
	height: 40px;
	width: 80px;
	margin-top: 10px;
	background-image: url(/img/scissors.png);
	background-position: center;
	background-size: 80px 40px;
}